.contact-theme .v-formlayout .table {
  border-spacing: 0;
  position: relative;
  font-size: 13px !important;;
}

.v-dialog-caption-dialogheader {
  background-color: #4545d1;
}

.v-filterselect img.v-icon {
  max-height: 30px;
  margin-left: 5px;
  margin-top: 9px;
}

// Smaller flags in ComboBox DropDown popup
 .v-filterselect-suggestpopup .gwt-MenuItem .v-icon {
  max-height: 11px;
  max-width: 16px;
  margin-right: 4px;
  min-width: 1em;
}

// Smaller flags for selected ComboBox DropDown item
 .v-filterselect img.v-icon {
  max-height: 11px;
  max-width:16px;
  margin-left: 5px;
}
#app-name{
  font-size: 20px;
}
.table .v-formlayout{
  font-size: 13px !important;

}
#formLayout {
  font-size: 13px !important;

}
.contact-theme .v-formlayout.v-has-width .table .contact-theme .v-formlayout.v-has-width .v-formlayout-contentcell{
  font-size: 13px !important;

}
.v-label .v-widget .v-label-undef-w{
  font-size: 13px !important;

}
td.v-formlayout-contentcell{
  font-size: 13px !important;

}